examples/models/obj/terra_obj/texture.obj
examples/models/obj/terra_obj/metadata.xml
examples/models/obj/terra_obj/texture_0_0.jpg
examples/models/obj/terra_obj/texture_0_1.jpg
examples/models/obj/terra_obj/texture_0_2.jpg
examples/models/obj/terra_obj/texture_0_3.jpg
examples/models/obj/terra_obj/texture_0_4.jpg
examples/models/obj/terra_obj/texture_0_5.jpg
examples/models/obj/terra_obj/texture_0_6.jpg
examples/models/obj/terra_obj/texture.mtl
examples/models/3dm/terra_sunpath.3dm
examples/models/3dm/terra_num.3dm
examples/models/3dm/terra_simplified.3dm
examples/models/3dm/terra_pv.3dm
